@import "typeface-calligraffitti";
@import "typeface-montserrat";
@import "mdb-ui-kit/css/mdb.min.css";

body {
  background-color: #d7ccc8;
}
body.overlayActive {
  overflow:hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#counter,
#moreBooks {
  font-weight: 600;
}

#descriptionModal {
  max-height: 90vh;
}

#modalText {
  max-height: 40vh;
  }

#widget {
    width: 50px;
    height: 120px;
  }