@import "typeface-calligraffitti";
@import "typeface-montserrat";
@import "mdb-ui-kit/css/mdb.min.css";

body {
  background-color: #d7ccc8;
}
body.overlayActive {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a{
  color: white;
}

a:hover {
  color: #d7ccc8
}

a:active {
  color:#c8bdbb;
}

#counter,
#moreBooks {
  font-weight: 600;
}

#descriptionModal {
  max-height: 90vh;
}

#modalText {
  max-height: 40vh;
}

#widget {
  width: 50px;
  height: 120px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#widget.hidden {
  opacity: 0;
}
